html, body,
.container {
	margin: 0 !important;
	padding: 0 !important;
	top: 0;
	bottom: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.container {
	display: flex;
	flex-direction: column;
}

#cgol {
	flex:1;
	overflow: hidden;
	border: 5px solid grey;
	background-color: black;
	cursor: crosshair;
}

#cgol table {
	margin: 0 !important;
	padding: 0 !important;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-collapse: collapse;
}

#cgol table tr {
	width: 100%;
}

#cgol table td {
	border: thin solid rgb(3, 3, 3);
	/* background-color: white; */
	margin: 0 !important;
	padding: 0 !important;
}


#top-bar {
	height: 2rem;
	width: 100%;
	background-color: gray;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
}

#pattern-select {
	width: 9vw;
	overflow: hidden;
}
